<template>
  <div id="root">
    <main v-html="view">
    </main>
    <Comp />
  </div>
</template>

<script>
import Vue from 'vue';
import Resource from 'vue-resource';
import Comp from './comp/comp.vue';
Vue.use(Resource);

export default {
  name: 'Root',
  components: {
    Comp
  },
  data() {
    return {
      view: '',
      data: null
    }
  },
  methods: {
    mapData(array, data) {
      const result = array.map((s, i) => {
        if (/(<|>|=)/g.test(s)) {
          return s;
        }
        let field = s.trim().toLowerCase().split('.');
        if (/#each/g.test(field[0])) {
          let e = i + 1;
          for (let j = e; j < array.length; j++) {
            if (/\/each/g.test(array[j])) {
              let [other, ...query] = field;
              let deepData = this.getDeepData(query, data);
              let loopArray = array.splice(e, j - e);
              return deepData.map(d => this.mapData(loopArray, d)).join('');
            }
          } 
        }
        return data[field[field.length - 1]] || data.jItem && data.jItem[field[field.length - 1]];
      });
      return result.join('');
    },

    getDeepData(query, data) {
      let result = data;
      for (let i = 0; i < query.length; i++) {
        result = result[query[i]];
      }
      return result;
    }
  },
  mounted: function() {
    this.$http
      .get(this.$root.config.api)
      .then(res => res.json())
      .then(res => {
        let str = res.data.view.content;
        let arr = str.split(/{{([^{{]+)}}/g);
        this.data = res.data;
        this.view = this.mapData(arr, this.data);
      });
  }
};
</script>
