<template>
    <div>{{text}}</div>
</template>

<script>
export default {
  name: 'Component',
  data() {
    return {
      text: 'abcd'
    }
  },
  mounted() {
    setTimeout(() => {
      this.$el = document.querySelector('.title');
      this.text = 'efgh';
      console.log(this);
    }, 1000);
  }
};
</script>
